// -------------------------
// Back link
// -------------------------
.dropdown {
  position: relative;
  z-index: 1;
}

.dropdown__button {
  @include fontPrimaryMedium;
  position: relative;
  padding-right: 20px;
  color: $grey;
  cursor: pointer;
  transition: $easeOutQuart;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: $grey transparent transparent transparent;
    transition: $easeOutQuart;
  }
}

.dropdown__button:hover {
  color: $grey--darker;

  &::after {
    border-color: $grey--darker transparent transparent transparent;
  }
}

.dropdown:hover {
  .dropdown__list {
    display: block;
  }
}

.dropdown__list {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  background: #fff;
  border-radius: $border-radius--m;
  box-shadow: 0 0 20px rgba(0,0,0, 0.15);
  padding-left: $padding--m;
  padding-right: $padding--m;
  padding-top: spaceVer(0.6);
  padding-bottom: spaceVer(0.7);
}

.dropdown__list-item {
  margin-bottom: spaceVer(0.25);
  margin-top: spaceVer(0.25);
  color: $grey;
  transition: $easeOutQuart;
  cursor: pointer;
}

.dropdown__list-item:hover {
  color: $grey--darker;
}