// -------------------------
// Main (where all the content comes)
// -------------------------
.main {
  padding-top: 58px; // header height
  padding-left: $sidebar-width; // sidebar width
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: $easeOutQuart;
}

.app-organise .main {
  background: $grey--lightest;
}

.app-show-organise-bar .main {
  transform: translateY(58px); // header height
}

.main__inner {
  margin-top: spaceVer(1.5);
  padding-left: $padding--l;
  padding-right: $padding--l;
}

.main--pictures .main__inner {
  padding-right: 0;
}

