// -------------------------
// Drag and drop
// -------------------------
.upload-selection {
  background: #fff;
  box-shadow: 0 0 10px rgba(#000, 0.12);
  padding-left: $padding--m;
  padding-right: $padding--s;
  padding-top: spaceVer(0.75);
  padding-bottom: spaceVer(0.75);
  display: flex;
  align-items: center;
  border-radius: $border-radius--l;
  color: $color--one;
}

.upload-selection__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: $padding--xs;

  path {
    fill: $color--one;
  }
}

.upload-selection__text {
  @include fontPrimaryMedium;
}

.upload-selection__remove {
  margin-left: auto;
}